@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Inter-Regular.woff2') format('woff2'),
    url('/static/fonts/Inter-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url('/static/fonts/Inter-Italic.woff2') format('woff2'),
    url('/static/fonts/Inter-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/Inter-Medium.woff2') format('woff2'),
    url('/static/fonts/Inter-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  src: url('/static/fonts/Inter-MediumItalic.woff2') format('woff2'),
    url('/static/fonts/Inter-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/static/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('/static/fonts/Inter-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  src: url('/static/fonts/Inter-SemiBoldItalic.woff2') format('woff2'),
    url('/static/fonts/Inter-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/Inter-Bold.woff2') format('woff2'),
    url('/static/fonts/Inter-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: url('/static/fonts/Inter-BoldItalic.woff2') format('woff2'),
    url('/static/fonts/Inter-BoldItalic.woff') format('woff');
}

/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
  src: url('/static/fonts/Inter.var.woff2') format('woff2');
}
