.markdown {
  @apply leading-relaxed text-gray-700;
}

.markdown > h1 {
  @apply mb-6 text-4xl font-semibold leading-snug tracking-tight text-gray-900;
}

.markdown > h2 {
  @apply mt-12 mb-4 text-xl font-semibold tracking-snug text-gray-900;
}

.markdown > p > a {
  @apply text-indigo-600 font-semibold;
}

.markdown > p,
.markdown > ul,
.markdown > ol,
.markdown > blockquote,
.markdown > pre {
  @apply mb-6;
}

.markdown > pre {
  @apply rounded-lg px-4 py-3 bg-gray-800;
  overflow: auto;
}

.markdown > :not(pre) > code,
.markdown > p a > code {
  @apply bg-gray-300 rounded-full px-2 text-sm;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.markdown > .markdown ul {
  @apply list-disc;
}
